@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand img {
    max-width: 140px;
}




@media (min-width: 992px) {
    .navbar-expand-lg {
       
        flex-direction: column;
    }
}

.btn {
    width: 70%;
    font-size: 22px;
}


p {
    font-size: 20px;
}

.logo-sm {
    max-width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-ct {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
   
}



.h1 {
    font-size: 64px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 28px;
}


.h4 {
    font-size: 24px;
}


.h5 {
    font-size: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  
  .image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5em 1em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .overlay-text {
    opacity: 1;
  }
  .card img {
    width: 100%;  /* Adatta la larghezza all'interno della card */
    height: 200px; /* Imposta un'altezza fissa */
    object-fit: cover; /* Assicura che l'immagine riempia lo spazio senza deformarsi */
    border-radius: 8px; /* (Opzionale) Arrotonda gli angoli per un design più elegante */

}
